[init]
	defaultBranch = main

[user]
	name = soemre
	email = emresoysuren03@gmail.com

[credential "https://github.com"]
	helper = !/run/current-system/sw/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/run/current-system/sw/bin/gh auth git-credential

[core]
	editor = nvim

[submodule]
	recurse = true

[pull]
	rebase = true
[safe]
	directory = /nix/store/flfaaji6jp55c2dqa1ghavqskbjvgb17-flutter-wrapped-3.32.0-sdk-links
