[safe]
	directory = *
[init]
	defaultBranch = main
[user]
	name = emresoysuren
	email = 108146153+emresoysuren@users.noreply.github.com
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
